:root {
  --background-color: #080202;
  --header-color: #F64E4E;
  --card-color: #221818;
  --address-color: #DEDA81;
  --price-color: #DEDA81;
  --button-color: #F2D850;
  --snackbar-color: #323232;
  --link-color: #FFD5D5;
  --table-border-color: rgba(242, 216, 80, .7);
  --border-color: linear-gradient(60deg, #D3BB3B 0%, #554D1F 20%, #A79E70 30%, #D3BB3B 70%, #F1E18A 80%, #4F4613);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'PingFang TC';
}

.fullscreen {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--background-color);
}

.header {
  width: 100vw;
  height: 80px;
  background-color: var(--header-color);
}

.header-text {
  text-align: center;
  line-height: 80px;
  font-size: 24px;
  color: white;
  letter-spacing: 5px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 48px 12px;
  text-align: center;
}

.headline {
  width: 300px;
  margin-bottom: 24px;
}

.gradient-border {
  position: relative;
  box-sizing: border-box;
  border-radius: 4px;
  border: 4px solid transparent;
  background-color: var(--card-color);
  background-clip: padding-box;
}

.gradient-border::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -4px;
  border-radius: inherit;
  background: var(--border-color);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.xs12 {
  flex-basis: 100%;
  max-width: 100%;
}

.bid-lot {
  margin: 6px;
  padding-top: 100%;
}

.bid-lot__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#auction {
  width: 125px;
}

#beef {
  width: 200px;
  margin-top: 30px; 
}

#beef-text {
  width: 215px;
  margin-top: 20px;
}

.bid-action {
  margin: 6px;
  padding-top: 100%;
}

.bid-action__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.timer {
  color: white;
  font-size: 36px;
}

.bidder-address {
  width: 80%;
  word-break: break-all;
  margin: 0 auto;
  color: var(--address-color);
  font-size: 20px;
}

.bid-text {
  margin: 0 auto 8px auto;
  color: white;
  font-size: 20px;
  letter-spacing: 5px;
}

.bid-text:not(:first-child) {
  margin-top: 16px;
}

.bidding-price {
  color: var(--price-color);
  font-size: 36px;
}

.bid-input {
  display: flex;
}

.bid-input__field {
  width: 160px;
  height: 60px;
  border: none;
  padding: 0 16px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  line-height: 60px;
  display: flex;
  align-items: center;
  background-color: white;
}

.bid-input__field-input {
  width: 90px;
  border: none;
  outline: none;
  background-color: transparent;
  color: black;
}

.bid-input__field-unit {
  color: black;
}

.bid-input__button {
  width: 80px;
  height: 60px;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: black;
  background-color: var(--button-color);
}

.bid-input__button[disabled] {
  opacity: .7;
}

.bid-history, .bid-rules {
  margin: 12px;
  padding: 16px;
  border-radius: 4px;
  background-color: var(--card-color); 
  color: white;
  text-align: left;
}

.bid-history__title, .bid-rules__title {
  margin-bottom: 16px;
  color: white;
  opacity: .7;
  font-size: 20px;
  font-weight: 500;
}

.bid-rules ol li {
  margin-bottom: 8px;
  font-size: 20px;
}

.bid-rules a {
  color: var(--button-color);
}

.bid-history__table {
  overflow: auto;
}

.bid-history__table table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

}

.bid-history__table th {
  padding: 16px;
  border-bottom: 1px solid;
  border-color: var(--table-border-color);
  font-size: 24px;
}

.bid-history__table th:first-child {
  width: 60%;
}

.bid-history__table th:nth-child(2) {
  width: 144px;
}

.bid-history__table th:nth-child(3) {
  width: 60px;
}

.bid-history__table td {
  padding: 16px;
  border-bottom: 1px solid;
  border-color: var(--table-border-color);
  font-size: 20px;
  overflow: auto;
}


.bid-history__table td:nth-child(2) {
  text-align: center
}

.bid-history__table td:nth-child(3) {
  text-align: right;
}

.bid-history__table td a {
  cursor: pointer;
}

.snackbar {
  position: fixed;
  top: 104px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 600px;
  width: 80vw;
  height: 80px;
  padding: 0 24px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--snackbar-color);
}

.snackbar__message {
  font-size: 20px;
  color: white;
}

.snackbar__close {
  font-size: 20px;
  color: var(--button-color);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* desktop */
@media screen and (min-width: 800px) {
  .header-text {
    font-size: 36px;
  }

  .headline {
    width: 400px;
    margin-bottom: 48px;
  }

  .md6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  #auction {
    width: initial;
  }
  
  #beef {
    width: initial;
  }
  
  #beef-text {
    width: initial;
  }

  .bid-action__content {
    padding: 36px;
  }

  .timer {
    font-size: 48px;
  }
  
  .bidder-address {
    font-size: 24px;
  }
  
  .bid-text {
    font-size: 24px;
  }

  .bid-text:not(:first-child) {
    margin-top: 32px;
  }
  
  .bidding-price {
    font-size: 48px;
  }

  .bid-history, .bid-rules {
    padding: 24px;
  }
  
  .bid-history__title, .bid-rules__title {
    margin-bottom: 24px;
    font-size: 24px;
  }

  .bid-history__table th:first-child {
    width: 70%;
  }

  .snackbar__message {
    font-size: 24px;
  }

  .snackbar__close {
    font-size: 24px;
  }
}